[build]
# We compile without atomics, because its faster than using atomic trap handler
target = "riscv32imc-unknown-none-elf"
# target = "thumbv7em-none-eabihf"
# target = "xtensa-esp32-none-elf"

[env]
# You can override this via environment variable when building or by changing it here
DEFMT_LOG = "debug"

# Change to your wifi's or override with environment variables.
SSID = "ssid"
PASSWORD = "password"
# esp32c3 pins
SDA_PIN = "10"
SCL_PIN = "8"
# esp32 pins
# SDA_PIN = "21"
# SCL_PIN = "22"
# nrf52 pins
# SDA_PIN = "0_03"
# SCL_PIN = "0_04"

[target.riscv32imc-unknown-none-elf]
rustflags = [
  # For esp-hal
  "-C",
  "link-arg=-Tlinkall.x",
  # For esp-backtrace
  "-C",
  "force-frame-pointers",
  # For defmt
  "-C",
  "link-arg=-Tdefmt.x",
]

[target.xtensa-esp32-none-elf]
rustflags = [
  # For esp-hal
  "-C",
  "link-arg=-Tlinkall.x",
  # For esp-backtrace
  "-C",
  "force-frame-pointers",
  # For defmt
  "-C",
  "link-arg=-Tdefmt.x",
]

[target.thumbv7em-none-eabihf]
rustflags = [
  # TODO: Where is this from?
  "-C",
  "link-arg=--nmagic",
  # For cortex-m-rt
  "-C",
  "link-arg=-Tlink.x",
  # For defmt 
  "-C",
  "link-arg=-Tdefmt.x",
]

[unstable]
build-std = ["core", "alloc"]
