[workspace]
resolver = "2"
members = ["crates/panic_defmt", "crates/defmt_esp_println"]


[workspace.package]
license = "MIT OR Apache-2.0"
authors = ["Ryan Butler <thebutlah@gmail.com>"]
repository = "https://github.com/SlimeVR/SlimeVR-Rust"

edition = "2021"
rust-version = "1.65"

[workspace.dependencies]
esp-println = { version = "0.3", default-features = false, features = [
  "critical-section", # Necessary because otherwise I'm very sus of the soundness
] }


[package]
name = "firmware"
version = "0.0.0"

license.workspace = true
authors.workspace = true
repository.workspace = true

edition.workspace = true
rust-version.workspace = true


[features]
default = ["mcu-esp32c3", "imu-mpu6050", "log-usb-serial"]

# todo: actually support another microcontroller
# Supported microcontrollers
mcu-esp32c3 = ["defmt_esp_println?/esp32c3", "esp-wifi"]

# Wi-fi dependencies
esp-wifi = ["dep:esp-wifi"]

# Supported IMUs
imu-mpu6050 = ["mpu6050-dmp"]

# Supported defmt loggers
log-rtt = ["dep:defmt-rtt"]
log-usb-serial = ["defmt_esp_println/jtag_serial"]
log-uart = ["defmt_esp_println/uart"]

# Enable to flash without needing `espflash`
direct-boot = ["esp32c3-hal/direct-boot"]


[dependencies]
esp32c3-hal = { version = "0.3", features = [
  #"embassy",
  #"embassy-time-systick",
  #"direct-boot",
] }
riscv-rt = "0.10"
riscv = "0.10"
esp-alloc = { version = "0.1", features = ["oom-handler"] }
embedded-hal = "0.2"
embedded-svc = { version = "0.22", default-features = false, features = [
#  "nightly",
  "use_strum"
] }

# Embassy stuff
embassy-futures = "0.1.0"
embassy-executor = { git = "https://github.com/embassy-rs/embassy", rev = "2528f451387e6c7b27c3140cd87d47521d1971a2", features = [
  #"integrated-timers",
  "nightly",
] }
#embassy-time = { version = "0.1.0", features = [
#  "tick-hz-16_000_000",
#  "unstable-traits",
#] }

# Wi-Fi
esp-wifi = { git = "https://github.com/esp-rs/esp-wifi.git", rev = "b876a9c", features = [
  "esp32c3",
  "wifi",
  "embedded-svc",
], optional = true }
smoltcp = { version = "0.8.0", default-features = false, features = [
  "async",
  "defmt",
#FIXME: alloc feature spits errors out because defmt isnt 
#  "alloc",
  "socket-raw",
  "socket-udp",
  "socket-tcp",
  "socket-icmp",
  "socket-dhcpv4",
  "medium-ethernet",
  "proto-dhcpv4",
  "proto-igmp",
  "proto-ipv4"
] }

# Logging
defmt = "0.3"
defmt-rtt = { version = "0.4", optional = true }
panic_defmt = { path = "crates/panic_defmt" }
defmt_esp_println = { path = "crates/defmt_esp_println", optional = true }

# Peripherals
mpu6050-dmp = { version = "0.2", optional = true }

# Other crates
strum = { version = "0.24", default-features = false }
static_cell = "1"
nb = "1"
nalgebra = { version = "0.31", default-features = false, features = [
  "macros",
  "libm",
] }
fugit = "0.3"
cfg-if = "0.1"


[build-dependencies]
feature_utils = "0.0.0"


[patch.crates-io]
# Enable non-default I2C addresses and InitError
mpu6050-dmp = { git = "https://github.com/TheButlah/mpu6050-dmp-rs", rev = "77128a75a51547baadc0f0ef99aba4432e848f10" }

defmt = { git = "https://github.com/TheButlah/defmt", rev = "b5d5e316ea56250dcb25b3549bcf4bfdb1687796" }
defmt-rtt = { git = "https://github.com/TheButlah/defmt", rev = "b5d5e316ea56250dcb25b3549bcf4bfdb1687796" }
