################
# Default config
[default.probe]
# protocol = "Jtag" # ESP32*
protocol = "Swd" # NRF52*

[default.general]
# chip = "esp32c3"
chip = "nRF52840_xxAA"

[default.rtt]
enabled = true
up_mode = "NoBlockTrim"
channels = [
	{ up = 0, down = 0, name = "Firmware logs via defmt", format = "Defmt" },
]

[default.gdb]
# Note: currenly gdb server only appears to work when RTT is turned off.
# See https://github.com/probe-rs/probe-rs/issues/1221
enabled = true
gdb_connection_string = "127.0.0.1:1337"


################
# Monitor config (doesn't flash)
[monitor.flashing]
enabled = false


################
# Flash-only config
[flash.rtt]
enabled = false

[flash.gdb]
enabled = false


################
# This fixes rtt logs from not showing up. Run it once.
[fixrtt.reset]
halt_afterwards = true # This is the magic sauce, but WHY? 

[fixrtt.gdb]
enabled = false

[fixrtt.flashing]
enabled = false
